<a href="https://colab.research.google.com/github/chisangad/testing/blob/master/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Background

In this assignment, you will be using Python to develop an analysis pipeline to analyse the sales transactions for an insurance company. The data set to be used in the assignment has been provided for you on Moodle, the data is based on real-life data from a national insurance company called KAT insurance with operations in the USA. The data set contains more than 65,000 insurance sales records from 2017. All data and names have been anonymised to preserve privacy. You will first have to find and correct errors in the data set.

## General learning objectives 
1.	Clean the data in a data set
2.	Analyse sales trends
3.	Interpret findings

## Data dictionary

A data dictionary describing the fields/columns for the data is provided below. 

<table>
<tr>
<th>
Fied
</th>
<th>
Description
</th>
</tr>
<tr>
<td>
Region
</td>
<td>
This field contains the region in which the insurance was sold. There are six regions: Midwest, New England, North Central, Northeast, Southeast, and West.
</td>
</tr>
<tr>
<td>
State	
</td>
<td>
This field contains the state in which the insurance policy applies. The data is from sales to the 48 states in continental US and the District of Columbia. (KAT Insurance does not offer insurance in the states of Alaska and Hawaii.)
</td>
</tr>
<tr>
<td>
Salesperson	
</td>
<td>
This field contains the name of the salesperson who sold the policy.
</td>
</tr>
<tr>
<td>
Insurance Type	
</td>
<td>
This field contains the type of insurance policy.
</td>
</tr>
<tr>
<td>
Sales	
</td>
<td>
This field contains the selling price of the insurance policy.
</td>
</tr>
<tr>
<td>
Date of Sale	
</td> 
<td>
This field contains the date that the policy was sold.
</td>
</tr>
<tr>
<td>
Invoice No	
</td> 
<td>
This field contains the invoice number
</td>
</tr>
<tr>
<td>
State Type	
</td> 
<td>
This field is a combination of the State and Insurance Type fields
</td>
</tr>
<tr>
<td>
Country	
</td> 
<td>
This field contains the country in which the policy was sold. At this time, KAT Insurance only sells policies in the US.
Variable Cost Percent	This field contains the variable cost percentage of each policy.
</td>
</tr>
</table>

# Requirement 1 - Read in data

Run the following code to import the KAT insurance data using the **pandas** library.

In [7]:
import pandas as pd
url='https://drive.google.com/file/d/1050Q00dOFHRwpBSUKHEI2tOHJHS2MSmI/view?usp=share_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
data=pd.read_csv(url)

# Requirement 2 - Data exploration
## Show top 4 rows of the data

Use the following code section to show the first 4 rows in the data [1 mark]

In [9]:
#Include code here to show the top 10 rows of the data

,Region,State,Salesperson,Insurance Type,Sales,Date of Sale,Invoice No,State Type,Country
0,Midwest,TX,Tom,Auto,934.79,1/01/2017,A-2017-000010,TX-Auto,USA
1,Southeast,TN,Jennifer,Auto,570.51,1/01/2017,A-2017-000012,TN-Auto,USA
2,New England,CT,Crissy,Auto,398.71,1/01/2017,A-2017-000016,CT-Auto,USA
3,New England,MA,Crissy,Auto,887.79,1/01/2017,A-2017-000017,MA-Auto,USA
4,Southeast,GA,John,Auto,500.21,1/01/2017,A-2017-000028,GA-Auto,USA
5,West,UT,Kellie,Auto,584.16,1/01/2017,A-2017-000029,UT-Auto,USA
6,West,NV,Kellie,Auto,433.22,1/01/2017,A-2017-000033,NV-Auto,USA
7,West,WA,Peter,Auto,958.92,1/01/2017,A-2017-000036,WA-Auto,USA
8,North Central,MO,Mario,Auto,411.77,1/01/2017,A-2017-000037,MO-Auto,USA
9,Southeast,MS,Frank,Auto,517.65,1/01/2017,A-2017-000041,MS-Auto,USA

## Correct typographical errors

There are some typographical errors in the data set in the Region and Insurance Type fields. Find and correct these errors.

In [ ]:
#include code to correct the typographical errors in the Region and Insurance Type fields.

## Data types by column [0.5 mark]

Show the data types of each column

In [12]:
#Include code here to show the data types of each column

Region             object
State              object
Salesperson        object
Insurance Type     object
Sales             float64
Date of Sale       object
Invoice No         object
State Type         object
Country            object
dtype: object

## Sort the data by sales, from highest to lowest and then show the top 10 and bottow 10 [6 marks]

In [17]:
#Include code to sort the data by sales from highest to lowest

In [18]:
#Include code to list the top 10 by sales

,Region,State,Salesperson,Insurance Type,Sales,Date of Sale,Invoice No,State Type,Country
53451,Northeast,DC,Matt,Professional,2246.63,24/02/2017,M-2017-009838,DC-Professional,USA
56020,Northeast,OH,Mike,Professional,2198.01,9/05/2017,M-2017-022746,OH-Professional,USA
63064,Northeast,OH,Mike,Professional,2193.90,21/11/2017,M-2017-057350,OH-Professional,USA
62977,Northeast,DC,Matt,Professional,2191.72,18/11/2017,M-2017-056887,DC-Professional,USA
59859,Northeast,PA,Mike,Professional,2190.60,22/08/2017,M-2017-041385,PA-Professional,USA
62793,Northeast,NJ,Fred,Professional,2189.23,13/11/2017,M-2017-055941,NJ-Professional,USA
58242,Northeast,DC,Matt,Professional,2163.10,9/07/2017,M-2017-033458,DC-Professional,USA
61307,Northeast,PA,Mike,Professional,2157.53,2/10/2017,M-2017-048627,PA-Professional,USA
60961,Northeast,OH,Mike,Professional,2151.63,22/09/2017,M-2017-046795,OH-Professional,USA
60983,Midwest,NE,Dave,Professional,2151.35,23/09/2017,M-2017-046963,NE-Professional,USA

In [19]:
#Include code to list the bottom 10 by sales

,Region,State,Salesperson,Insurance Type,Sales,Date of Sale,Invoice No,State Type,Country
41143,New England,MA,Crissy,Life,48.15,11/03/2017,L-2017-012364,MA-Life,USA
38984,New England,MA,Crissy,Life,48.02,8/01/2017,L-2017-001426,MA-Life,USA
41620,New England,MA,Crissy,Life,47.90,26/03/2017,L-2017-014983,MA-Life,USA
51437,New England,VT,Sara,Life,47.55,30/12/2017,L-2017-064196,VT-Life,USA
48063,New England,RI,Crissy,Life,47.51,23/09/2017,L-2017-047003,RI-Life,USA
49211,New England,MA,Crissy,Life,47.49,27/10/2017,L-2017-053025,MA-Life,USA
46192,New England,CT,Crissy,Life,46.63,3/08/2017,L-2017-037929,CT-Life,USA
44316,New England,MA,Crissy,Life,46.43,11/06/2017,L-2017-028478,MA-Life,USA
41262,New England,CT,Crissy,Life,45.80,14/03/2017,L-2017-012952,CT-Life,USA
42036,New England,ME,Sara,Life,45.70,6/04/2017,L-2017-017052,ME-Life,USA

## Which state had the highest sales? What was the total dollar amount? [5 marks]

In [ ]:
# Include code to print the state with the highest sales and the total dollar amount

## Which state had the lowest sales?  What was the total dollar amount? [5 marks]

In [ ]:
# Include code to print the state with the lowest sales and the total dollar amount

## What is the average amount of insurance sold per state? [5 marks]

In [ ]:
#Include code to print the average amount of insurance sold per state

## How many insurance policies were sold in each state? [5 marks]

In [ ]:
#Include code to print the number policies sold in each state

## Do any states not meet the $800,000 minimum sales level? [5 marks]

In [ ]:
#Code to print check and print states that meet the 800000 minimum sales

# Requirement 3 - Sort the state data by average policy amount, from highest to lowest.
## Sort the data [2 marks]

In [ ]:
#code to sort the data by average policy amount from highest to lowest

## Which state had the highest average policy amount? [2 marks]

In [ ]:
#code to print the state with the highest average policy amount

## Which state had the lowest average policy amount? [2 marks]

In [ ]:
#code to print the state that had the lowest average policy amount

# Requirement 4 - Rank the regions from the highest total insurance sales to lowest total insurance sales.

Sort the data by sales, from highest to lowest. [2 marks]

In [ ]:
#code to sort the data from highest to lowest

## Which region had the highest sales? What is the total dollar amount? [5 marks]

In [ ]:
#code to print region with the highest sales and the total dollar amount

## Which region had the lowest sales?  What is the total dollar amount? [5 marks]

In [ ]:
#code to print region with the lowest sales and the total dollar amount

# Requirement 5 - Who is the leading salesperson in each region? [5 marks]

In [ ]:
#code to print the leading salesperson in each region

# Requirement 6 - What is the total dollar amount sold for each type of insurance? 

## Show the total dollar amount sold for each type of insurance

In [ ]:
#Code to print the total dollar amound sold for each type of insrance

## Create a graph to show total dollar amount of each type of insurance sold, by region.

In [ ]:
#code to print bar graph showing total dollar amount of each type of insurance sold by region

## What does this graph show?

# Requirement 7 - Create a bar chart that shows total sales for each state.

## Bar chart for total sales

In [ ]:
#Code to generate a bar chart that shows total sales for each state

## What can you surmise from this bar chart?